In [ ]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [ ]:
text_parts = text.split('. ')
text_parts

key_words = ["average", "temperature", "distance"]

In [ ]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

In [ ]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

## EJERCICIO 2

In [ ]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [ ]:
title = f'datos de gravedad sobre {nombre}'

In [ ]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [ ]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

In [ ]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [ ]:
print(hechos)

In [ ]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

In [ ]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))